html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
  font-family: "Georgia", sans-serif;
}
a:active{
    color: #3dbd29;
}
body {
  background-color: #313131;
  color: #666666;
  line-height: 18.2px;
}
a {
  text-decoration: none;
  font-family: "Georgia", serif;
  color: #9999;
}
@media screen and (max-width: 600px) {
    .all_content{
        max-width: 250px;
    }
}
@media screen and (max-width: 249px) {
    .all_content{
        max-width: none;
    }
}
.all_content{
    max-width: 1200px;
    margin: 0 auto;
}
.line {
  min-height: 10px;
  margin: 0 20px;
  background-color: #a7c353;
}
.wrapper {
  margin: 0px 20px 40px 20px;
  background-color: #fff;
  font-family: 'Georgia';
}
.nav {
  text-align: center;
  display: inline-flex;
  margin: 0px 10px;
}
.menu {
  text-align: center;
}
.nav li {
  display: inline-flex;
  padding: 40px 15px 15px 15px;
}
.menu a{
    font-size: 13px;
    margin: 0 5px;
    color: #979797;
}
.menu a:hover {
  color: #fff;
}
.nav li:hover {
  background-color: #a7c353;
}
.nav_menu {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #a7c353;
  margin: 0px 15px 15px 15px;
  padding: 0 5px 0px 5px;
  max-height: 95px;
}
.nav_menu .name {
  float: left;
  width: 30%;
  max-width: 310px;
  padding: 20px 0 10px 0;
}
.nav_menu .menu {
  float: left;
  width: 70%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  font-family: "Georgia", sans-serif;
}
#firstLet{
    font-size: 32px;
    color: #666666;
}
.nav_menu .name a {
  font-size: 26px;
  color: #666666;
  
}
.nav_menu .name span {
  font-size: 12px;
  color: #999999;
}
h1 {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 22px;
  text-align: center;
  margin: 45px 125px;
  color: #666666;
  line-height: 30.8px;
}
.sliderWrapper {
  position: relative;
  margin: 0 auto;
  max-height: 350px;
  max-width: 920px;
}
.sliderTextWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.sliderText {
  width: 920px;
  margin: 0 auto;
  padding: 0 62px 25px 0;
}
.sliderText-top {
  max-width: 350px;
  background-color: #a7c353;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 5px 20px;
  text-align: center;
}
.sliderText-top span {
  color: #fff;
  font-size: 22px;
}
.sliderText-bottom {
  max-width: 350px;
  background-color: #fff;
  margin-left: auto;
  padding: 15px;
  font-size: 13px;
  color: #999999;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
.slick-list {
  overflow: hidden;
}
.sliderItem {
  transition: all 0.3s ease 0s;
  text-align: center;
  justify-content: center;
}
.slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 20000;
  font-size: 0;
  width: 50px;
  height: 50px;
  margin: 30px 0px 0px 0px;
  border: none;
  cursor: pointer;
}
.slick-next{
    right: 0px;
    background: none;
    background-image: url(img/right.png);
    background-size: contain;
}
.slick-prev{
    left: 0px;
    background: none;
    background-image: url(img/left.png);
    background-size: contain;
}
.slider {
  position: relative;
  width: 920px;
  height: 350px;
  margin: 0 20px 90px 20px;
  text-align: center;
  margin: 0 auto;
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots button:hover{
    cursor: pointer;
}
.slick-dots li {
  list-style: none;
  padding: 20px 2.5px;
}
.slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: #a7c353;
  border-radius: 50%;
  border: 4px solid #a7c353;
}
.slick-dots li.slick-active button {
  background-color: #fff;
}
.slider img {
  width: 920px;
  height: 350px;
}
h2 {
  font-family: 'Georgia', serif;
  text-align: center;
  font-size: 22px;
  color: #666666;
}
.info {
  display: flex;
  max-width: 920px;
  border-top: 1px solid #e2e2e2;
  margin: 75px auto 10px auto;
  padding: 45px 0;
}
.aboutUs {
  flex: 1;
  max-width: 280px;
  margin-right: 20px;
}
.more {
  text-align: right;
  margin-top: 10px;
  font-size: 13px;
}
.info a {
  color: #a7c353;
  font-size: 13px;
}
.info a:hover {
  color: #728c39;
}
.about_title{
  margin-bottom: 30px;
}
.about_img {
  text-align: center;
}
.about_img img{
    margin: 0 auto;
}
.about_text {
  font-size: 13px;
  font-family: "Georgia";
  color: #999999;
  margin-top: 20px;
}
.service {
  flex: 1;
  max-width: 280px;
  margin: 0 20px;
}
.service_title{
    margin-bottom: 30px;
}
.serv1 {
  display: flex;
    margin-bottom: 10px;
}
.serv_text {
  margin: 5px 15px;
}
.serv_text h3 {
  margin-bottom: 5px;
  font-size: 13px;
  color: #878787;
}
.serv_text p{
    font-size: 12px;
    color: #868686;
}
.comments {
  flex: 1;
  max-width: 280px;
  margin-left: 20px;
}
.comments_title{
  margin-bottom: 15px;
}
.num {
  display: inline-block;
}
.num1 {
  display: flex;
  align-items: center;
  color: #989898;
}
.num1 h3 span{
  font-size: 16px;
}
.num1 img{
    margin: 0 5px 5px 0;
}
.num2 {
  font-size: 13px;
}
.num2 p{
    color: #888888;
}
.contacts {
  color: #999999;
  display: flex;
  margin: 0 auto;
  line-height: 19.2px;
  max-width: 960px;
}
.cont {
  width: 25%;
  display: block;
  min-width: 225px;
}
.cont1{
  min-width: 225px;
  margin: 0 25px;
}
.cont a {
  color: #a7c353;
  font-size: 12px;
}
.cont_title h3 {
  font-family: "Georgia", serif;
  text-align: left;
  font-size: 16px;
  color: #fff;
}
.cont_line {
  border-top: 1px solid #3a3a3a;
  margin: 15px 15px 15px 0;
  font-size: 13px;
  color: #999999;
}
.cont_line div {
  margin: 15px 0;
}
.cont_line1 {
  border-top: 1px solid #3a3a3a;
  margin: 15px 15px 15px 0;
  font-size: 12px;
}
.some {
  border-bottom: 1px solid #3a3a3a;
  padding: 5px;
}
.some a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #a7c353;
}
.some a:hover, .some span:hover{
  color: #80ba70;
  font-size: 13px;
  transition: 0.2s; 
}
.some span{
    font-size: 12px;
    font-family: "Georgia", serif;
}
.some a img {
  background-color: #383838;
  border-radius: 50%;
  margin-right: 10px;
}
.cont_text h3 {
  margin-bottom: 10px;
  font-size: 13px;
}
.cont_text p{
    font-size: 12px;
}
.read_more {
  text-align: right;
  font-size: 12px;
}
.read_more a{
    color: #a7c353;
}
.read_more a:hover{
  color: #728c39;
}
.form input,
textarea {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #383838;
  border: none;
  width: 225px;
}
.subform input[type="text"],
.subform input[type="email"]{
    height: 30px;
    color: #989898;
}
input[type="text"]::placeholder{
    color: #989898;
}
input[type="email"]::placeholder{
    color: #989898;
}
textarea::placeholder{
    color: #989898;
}
textarea{
    height: 110px;
}
.subform input[type="text"]:focus,
.subform input[type="email"]:focus,
.subform textarea:focus {
  background-color: #817979;
  color: #000;
}
.subform input[type="submit"] {
  background-color: #a7c353;
  width: 80px;
  padding: 10px;
  cursor: pointer;
  display: table;
}
.subform input[type="submit"]:hover{
  font-size: 1em;
  transition: .2s;
  color: #fff;
}
.main_text {
  display: flex;
  color: #999999;
  font-size: 12px;
  padding: 20px;
  margin: 0 auto;
  max-height: 53px;
  max-width: 960px;
  border-top: 1px solid #3a3a3a;
}
.foot1 {
  text-align: left;
  width: 50%;
}
.foot2 {
  text-align: right;
  width: 50%;
}